.advantages__phrases {
  padding-top: 40px;
  padding-bottom: 0px;
}

.advantages__phrase {
  margin: 0;
  padding-bottom: 28px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.advantages__list {
  position: relative;
  margin: 0;
  padding: 80px 0 285px 0;
}

.advantages__list::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 81px;

  width: 157px;
  height: 320px;
  background: url('../img/iphone-screen-mobile@1x.png') no-repeat 0 41px;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .advantages__list::after {
    background: url('../img/iphone-screen-mobile@2x.png') no-repeat 0 41px;
    background-size: 157px;
  }
}

.advantages__item {
  margin-bottom: 30px;
  list-style: none;
  text-align: center;
}

.advantages__title {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.advantages__description {
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}

@media (min-width: @tablet-width) {

  .advantages__phrases {
    padding-top: 67px;
    margin-bottom: 20px;
  }

  .advantages__phrase {
    font-size: 40px;
  }

  .advantages__phrase:first-child {
    line-height: 8px;
  }

  .advantages__phrase:last-child {
    width: 400px;
    margin: 0 auto;
    line-height: 45px;
  }

  .advantages__list {
    padding: 72px 0 10px 0;
    margin: 0;

  }

  .advantages__list::after {

    bottom: 0;
    left: 20px;

    width: 268px;
    height: 547px;
    background: url('../img/iphone-screen-3-tablet@1x.png') no-repeat 0 65px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      .advantages__list::after {
        background: url('../img/iphone-screen-3-tablet@2x.png') no-repeat 0 65px;
        background-size: 268px;
      }
  }

  .advantages__item {
    margin-left: 330px;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .advantages__item:last-child {
    margin-right: -10px;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__description {
    margin-left: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {

  .advantages__phrases {
    margin-bottom: 57px;
  }

  .advantages__phrase {
    font-size: 50px;
  }

  .advantages__phrase:last-child {
    width: 500px;
    line-height: 55px;
  }

  .advantages__list {
    margin: 0;
    padding: 0;
    background: none;
    display: flex;
  }

  .advantages__list::after {
    display: none;
  }

  .advantages__item {
    position: relative;
    width: 240px;
    margin: 0;
    padding: 0;
    padding-top: 355px;
  }

  .advantages__item:first-child {
    margin-left: 30px;
  }

  .advantages__item:not(:last-child) {
    margin-right: 80px;
  }

  .advantages__item::before,
  .advantages__item::after {
    position: absolute;
    content: '';
  }

  .advantages__item::before {
    top: 290px;
    left: -30px;
    width: 294px;
    height: 17px;
    background: url('../img/shadow-stripe.png') no-repeat 0 0;
    z-index: 10;
  }

  .advantages__item::after {
    top: 0;
    left: 25px;
    width: 186px;
    height: 300px;
  }

  .advantages__item:nth-child(1)::after {
    background: url('../img/iphone-screen-1-desktop@1x.png') no-repeat -48px -3px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .advantages__item:nth-child(1)::after {
      background: url('../img/iphone-screen-1-desktop@2x.png') no-repeat -48px -3px;
      background-size: 292px;
    }
  }

  .advantages__item:nth-child(2)::after {
    background: url('../img/iphone-screen-2-desktop@1x.png') no-repeat -48px -3px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .advantages__item:nth-child(2)::after {
      background: url('../img/iphone-screen-2-desktop@2x.png') no-repeat -48px -3px;
      background-size: 292px;
    }
  }

  .advantages__item:nth-child(3)::after {
    background: url('../img/iphone-screen-3-desktop@1x.png') no-repeat -48px -3px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .advantages__item:nth-child(3)::after {
      background: url('../img/iphone-screen-3-desktop@2x.png') no-repeat -48px -3px;
      background-size: 292px;
    }
  }

  .advantages__title {
    padding-right: 0;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__description {
    margin: 25px 0 0 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

}
