.btn {
  width: 280px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 15px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
}

.btn__download {
  color: #ffffff;
  border: 3px solid #ffffff;

}

.btn__post {
  color: #d22856;
  border: 3px solid #d22856;
}

.btn__cancel {
  color: rgba(40, 54, 69, 0.1);
  background-color: #ffffff;
  border: 3px solid rgba(40, 54, 69, 0.1);
}
