.checkboxes-info {

}

.checkboxes-info__input {
  margin-left: 20px;
}

.checkboxes-info__label {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
