.comments__wrapper {

}

.comments__list {
  margin: 0;
  padding: 0;
}

.comments__item {
  list-style: none;
  text-align: center;
}

.comments__username {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.comments__message {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.comments__toggles {
  text-align: center;
}
