.download {
  font-family: 'Open Sans', 'Arial', sans-serif;
  background-color: #1d2631;
}

.download__title {
  margin: 0;
  padding: 0;
}

.download__phrase {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}

.download__list {
  margin: 0;
  padding: 0;
}

.download__item {
  list-style: none;
  text-align: center;
}
