.form {
  display: flex;
  flex-direction: column;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__item {
  margin-bottom: 40px;
}

.form__flex-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__flex-wrapper li {
  list-style: none;
}

.form__title,
.form__label {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.form__label {
  padding-left: 24px;
  line-height: 30px;
  text-align: left;
}

.form__color-wrapper {
  background-color: #f2f2f2;
  margin: -15px -20px 33px -20px;
  padding: 40px 0 0 0;
}

.form__checkboxes legend {
  width: 230px;
}

.form__checkboxes .form__list {
  margin: 0 0 -5px 20px;
}

.form__checkbox {
  margin: 43px 10px 52px 0;
  padding: 0 0 0 70px;
}

.form__radios {
  margin-bottom: 40px;
}

.form__radios ul {
  margin: 0 0 0 20px;
}

.form__radios li {
  margin: 39px 10px 45px 0;
  padding: 0 0 0 70px;
}

.form__footer {
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__legend {
  margin-top: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;
}

.form__legend--desktop {
  display: none;
}

.form__legend sup {
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .form__label {
    padding-left: 0;
  }

  .form__fieldset {
    border: 2px solid #e5e5e5;
  }

  .form__item {
    margin-bottom: 10px;
  }

  .form__title {
    display: block;
    margin: 0 auto;
  }

  .form__text-field--name {
    order: -3;
    border: none;
  }

  .form__radios {
    order: -2;
  }

  .form__radios ul {
    margin: 49px 0 60px 55px;
  }


  .form__radios li {
    margin: 40px 0 44px 0;
    padding: 0 0 0 63px;
  }

  .form__text-field--contacts {
    order: -1;
    margin-bottom: 55px;
  }

  .form__checkboxes {
    order: 0;
  }

  .form__checkboxes legend {
    width: 360px;
  }

  .form__checkboxes .form__list {
    margin: 47px 0 0 55px;
  }

  .form__checkbox {
    margin: 43px 10px 52px 0;
    padding: 0 0 0 62px;
  }

  .form__color-wrapper {
    margin: 0 0 56px 0;
    padding: 0;
    background-color: #ffffff;
  }

  .form__footer {
    margin-top: 56px;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__legend {
    margin-top: 4px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__text-field--name {
    width: 436px;
    margin-right: 67px;
    padding-top: 12px;
    margin-bottom: 0;
  }

  .form__radios {
    width: 436px;
  }

  .form__radios ul {
    margin-left: 75px;
  }

  .form__checkboxes,
  .form__text-field--contacts,
  .form__textarea,
  .form__footer {
    width: 940px;
  }

  .form__checkboxes .form__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 48px 6px 55px;
  }

  .form__legend--desktop {
    display: inline;
  }
}
