.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  list-style: none;
  text-align: center;
}

.main-nav__link {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
