.map {
  height: 200px;
  background: url('../img/bg-map-mobile@1x.png') no-repeat left 0 bottom 0;
}

@media (min-width: @tablet-width) {

  .map {
    height: 375px;
    background: url('../img/bg-map-tablet@1x.jpg') no-repeat left 0 bottom -150px;
  }

}

@media (min-width: @desktop-width) {

  .map {
    height: 500px;
    background: url('../img/bg-map-desktop@1x.jpg') no-repeat left 0 bottom 0;
  }

}
