.page-main__title-wrapper {
  height: 169px;
  background: url('../img/bg-back-mobile@1x.jpg') no-repeat 0 -70px;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .page-main__title-wrapper {
    background: url('../img/bg-back-mobile@2x.jpg') no-repeat -190px -70px;
    background-size: 700px;
  }
}

.page-main__main-title-wrapper {
  height: 394px;
  background:
    url('../img/iphone-hand-mobile@1x.png') no-repeat 0 108px,
    url('../img/bg-back-mobile@1x.jpg') no-repeat 0 -68px;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .page-main__main-title-wrapper {
    background:
      url('../img/iphone-hand-mobile@2x.png') no-repeat 0 109px,
      url('../img/bg-back-mobile@2x.jpg') no-repeat -190px -68px;
    background-size: 258px, 700px;
  }
}

.page-main__title {
  margin: 0;
  padding: 27px 0 0 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: @tablet-width) {

  .page-main__title-wrapper {
    height: 328px;
    background: url('../img/bg-back-tablet@1x.jpg') no-repeat 0 -115px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .page-main__title-wrapper {
      //
    }
  }

  .page-main__main-title-wrapper {
    height: 617px;
    background:
      url('../img/iphone-hand-tablet@1x.png') no-repeat -17px 72px,
      url('../img/bg-back-tablet@1x.jpg') no-repeat -267px -112px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .page-main__main-title-wrapper {
      background:
        url('../img/iphone-hand-tablet@2x.png') no-repeat -20px 73px,
        url('../img/bg-back-tablet@2x.jpg') no-repeat -267px -112px;
          background-size: 700px, 1200px;
    }
  }

    .page-main__title {
    padding: 66px 0 0 0;
    font-size: 50px;
    line-height: 60px;
  }

}

@media (min-width: @desktop-width) {

  .page-main {
    margin-top: -111px;
  }

  .page-main__title-wrapper {
    height: 394px;
    background: url('../img/bg-back-desktop@1x.jpg') no-repeat 0 -1px;
  }

  .page-main__main-title-wrapper {
    height: 853px;
    background:
      url('../img/iphone-hand-desktop@1x.png') no-repeat 145px 210px,
      url('../img/bg-back-desktop@1x.jpg') no-repeat -680px 0;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .page-main__main-title-wrapper {
        background:
          url('../img/iphone-hand-desktop@2x.png') no-repeat 145px 210px,
          url('../img/bg-back-desktop@2x.jpg') no-repeat -680px 0;
        background-size: 1050px, 2560px;
      }
    }

  .page-main__title {
    padding-top: 172px;
    width: 500px;
    margin: 0 auto;
  }

  .page-main__title-width-unset {
    width: unset;
  }
}
