.page-main__title-wrapper {
  height: 171px;
  background: url('../img/bg-back-mobile@1x.jpg') no-repeat 0, 0;
}

.page-main__main-title-wrapper {
  height: 396px;
  background-image: url('../img/iphone-hand-mobile@1x.png'), url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: 0 116px, 0 -66px;
}

.page-main__title {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: @tablet-width) {

  .page-main__title-wrapper {
    height: 330px;
    background: url('../img/bg-back-tablet@1x.jpg') no-repeat 0 0;
  }

  .page-main__main-title-wrapper {
    height: 620px;
    background-image: url('../img/iphone-hand-tablet@1x.png'), url('../img/bg-back-tablet@1x.jpg');
    background-position: 0 75px, 0 -100px;
  }

  .page-main__title {
    font-size: 50px;
  }

}

@media (min-width: @desktop-width) {

  .page-main {
    margin-top: -100px;
  }

  .page-main__title-wrapper {
    height: 394px;
    background: url('../img/bg-back-desktop@1x.jpg') no-repeat 0 0;
  }

  .page-main__main-title-wrapper {
    height: 853px;
    background-image: url('../img/iphone-hand-desktop@1x.png'), url('../img/bg-back-desktop@1x.jpg');
    background-position: 140px 210px, 0 0;
  }

  .page-main__title {
    padding-top: 100px;
  }

}
