.page-footer {
  height: 210px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page-footer__main-page {
  display: none;
}

.page-footer__link[href]:hover .page-footer__logo-pink {
  fill: @red;
}

.page-footer__link[href]:active .page-footer__logo-pink {
  fill: @dark-blue;
}

.page-footer__link[href]:active svg {
  opacity: 0.3;
}

.page-footer__logo-glasses--shine,
.page-footer__logo-stars {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    height: unset;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin-top: 0;
    padding-top: 16px;
  }

  .page-footer__logo-glasses {
    display: none;
  }

  .page-footer__logo-glasses--shine,
  .page-footer__logo-stars {
    display: block;
  }
}
