.page-footer {
  height: 210px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page-footer__logo-image {

}

@media (min-width: @tablet-width) {

  .page-footer {
    display: flex;
    flex-direction: row;
  }

}

@media (min-width: @desktop-width) {

  .page-footer__main-page {
    height: 210px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

}

