.page-header {
  background-color: #283645;
  padding-top: 21px;
}

.page-header__link {
  display: block;
  padding: 0;
  margin: 0 0 26px 0;
  width: 75px;
  height: 23px;
}

.page-header__link svg {
  margin-top: -18px;
  margin-left: -71px;
}

.page-header__link[href]:hover svg {
  fill: @red;
}

.page-header__link[href]:active svg {
  fill: @opacity-white;
}

.page-header__logo-glasses {
  display: none;
}

@media (min-width: @tablet-width) {

  .page-header {
    padding-top: 25px;
  }

  .page-header__link {
    width: 147px;
    height: 41px;
    margin: 0 0 45px 0;
  }

  .page-header__link svg {
    margin: 0;
  }

  .page-header__logo-glasses {
    display: block;
  }

}

@media (min-width: @desktop-width) {

  .page-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
  }

}
