.price {

}

.price__list {
  margin: 0;
  padding: 0;
}

.price__item {
  list-style: none;
  text-align: center;
}

.price__wrapper {
  background-color: #283645;
}

.price__title {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.price__value {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.price__set {
  display: block;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: #283645;
  text-transform: uppercase;
}

.price__set--on {

}

.price__set--off {

}

.price__toggles {
  text-align: center;
}
