.slide-panorama {
  position: relative;
}

.slide img {
  width: 280px;
  height: 180px;
}

.slide-panorama img {
  margin-left: -20px;
  margin-right: -20px;
  width: 320px;
  height: 137px;
}

.slide__label {
  position: absolute;
  padding: 6px 20px 6px 20px;
  top: 0;
  right: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
}

.slide__text-content {
  padding: 15px 5px 19px 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.slide__username {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #283645;
}

.slide__upload-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  color: #283645;
  text-transform: uppercase;
}

.slide__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #283645;
}

.slide__heart {
  position: relative;
  padding: 8px 0 0 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  color: #d22856;
  text-transform: uppercase;
}

.slide__heart::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 0;
  width: 13px;
  height: 13px;
  background: url("../img/icon-heart.svg") no-repeat 0 0;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .slide img {
    display: block;
    width: 300px;
    height: 300px;
  }

  .slide-panorama img {
    display: block;
    width: 660px;
    height: 509px;
  }

  .slide__label {
    top: 59px;
  }

  .slide__flex-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .slide__text-content {
    width: 263px;
    padding: 24px 10px 24px 27px;
    min-height: 107px;
  }

  .slide__description {
    flex-grow: 1;
  }

  .slide-panorama__text-content {
    width: 588px;
    padding: 25px 5px 22px 27px;
    min-height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .slide-panorama__text-content .slide__block {
    order: -2;
  }

  .slide__heart {
    padding: 0;
  }

  .slide__heart::before {
    top: 6px;
    left: 228px;
  }

  .slide__heart--panorama {
    margin: 0 0 0 305px;
    order: -1;
  }

  .slide__heart--panorama::before {
    bottom: auto;
    left: auto;
    top: 5px;
    right: -30px;
  }
}

@media (min-width: @desktop-width) {
  .slide img {
    width: 300px;
    height: 400px;
  }

  .slide-panorama a {
    display: block;
    width: 960px;
    height: 506px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .slide-panorama img {
    margin-right: -120px;
    margin-left: -120px;
    width: 1200px;
    height: 506px;
  }

  .slide__label {
    top: 55px;
  }

  .slide-panorama__text-content {
    width: 888px;
    padding: 23px 5px 25px 27px;
  }

  .slide__heart--panorama {
    margin: 0 0 0 621px;
  }
}
