.slide {
  position: relative;
}

.slide__photo {

}

.slide__panorama {
  margin-left: -20px;
  margin-right: -20px;
}

.slide__label {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 0px;
  right: 0px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856;
}

.slide__text-content {
  padding: 20px 25px;
}

.slide__username {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #283645;
}

.slide__upload-time {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  color: #283645;
  text-transform: uppercase;
}

.slide__description {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: #283645;
}

.slide__heart {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  color: #d22856;
  text-transform: uppercase;
}
