.social {
  display: flex;
}

.social__btn {
  display: block;
  width: 41px;
  height: 41px;
  margin-right: 4px;
  background-color: #ffffff;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  cursor: pointer;
}

.social__btn--tw {
  background-image: url('../../img/icon-twitter.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social__btn--fb {
  background-image: url('../../img/icon-facebook.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social__btn--yt {
  background-image: url('../../img/icon-youtube.svg');
  background-repeat: no-repeat;
  background-position: center;
}
