.text-field__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  min-height: 99px;
}

.text-field__input {
  padding: 15px 20px 15px 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  border: 2px solid #e5e5e5;
}

.text-field__input--area {
  display: block;
  margin: 15px auto 0 auto;
  width: 236px;
  height: 165px;
}

.text-field__input:hover {
  border: 2px solid @dark-blue;
}

.text-field__input:active {
  border: 2px solid @red;
}

.text-field__input::-webkit-input-placeholder {
  font-family: @font-family;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.text-field__input:-moz-placeholder,
.text-field__input::-moz-placeholder {
  font-family: @font-family;
}

.text-field__input:-ms-input-placeholder {
  font-family: @font-family;
}

@media (min-width: @tablet-width) {
  .text-field__list--icons {
    display: flex;
    flex-direction: column;
    padding: 38px 56px 0 56px;
  }

  .text-field__item {
    flex-direction: row;
    align-items: baseline;
  }

  .text-field__item--icons {
    flex-direction: column-reverse;
    align-items: stretch;
    margin-bottom: 30px;
  }

  .text-field__item--icons label {
    position: relative;
    padding-left: 20px;
    padding-top: 7px;
  }

  .text-field__item--icons label::before {
    position: absolute;
    content: "";
    top: -62px;
    right: 2px;
    width: 60px;
    height: 60px;
  }

  .text-field__label-phone::before {
    background: #e5e5e5 url("../img/icon-phone.svg") no-repeat 20px 20px;
  }

  .text-field__label-mail::before {
    background: #e5e5e5 url("../img/icon-mail.svg") no-repeat 20px 20px;
  }

  .text-field__input--stretch {
    flex-grow: 1;
  }

  .text-field__input--icons {
    padding-right: 70px;
  }

  .text-field__input--area {
    width: 456px;
    height: 160px;
    margin: 40px auto 50px auto;
  }
}

@media (min-width: @desktop-width) {
  .text-field__item {
    min-height: 101px;
  }

  .text-field__list--icons {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 35px;
  }

  .text-field__item--icons {
    margin-bottom: 15px;
    width: 374px;
  }

  .text-field__input--area {
    width: 776px;
    height: 92px;
    margin: 40px auto 44px auto;
  }
}
