.text-info {

}

.text-info__list {
  margin: 0;
  padding: 0;
}

.text-info__item {
  list-style: none;
  text-align: left;
}

.text-info__label {
  padding-left: 20px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}

.text-info__input {
  box-sizing: border-box;
  display: block;
  width: 280px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  border: 1px solid #e5e5e5;
}


.text-info__input::-webkit-input-placeholder {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.text-info__input:-moz-placeholder,
.text-info__input::-moz-placeholder {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.text-info__input:-ms-input-placeholder {
  font-family: 'Open Sans', 'Arial', sans-serif;
}
