.tools__list {
  margin: 0 56px 0 52px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.tools__item {
  list-style: none;
}

.tools__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tools__cut .tools__btn {
  padding: 1px 2px 1px 2px;
}

.tools__fill .tools__btn {
  padding: 3px 0 0 0;
}

.tools__contrast .tools__btn {
  padding: 7px 8px 7px 8px;
}

.tools__btn .tools__svg {
  fill: #b5b9be;
}

.tools__btn:hover .tools__svg {
  fill: #8d949b;
}

.tools__btn:active .tools__svg {
  fill: @red;
}

.tools__btn .tools__svg--active,
.tools__btn:hover .tools__svg--active,
.tools__btn:active .tools__svg--active {
  fill: @red;
}

.tools__toggle {
  display: none;
  position: relative;
  height: 2px;
  background-color: @dark-blue;
}

.tools__toggle::before {
  position: absolute;
  content: "";
  top: -5px;
  right: 38px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px @red;
  cursor: pointer;
}

.tools__toggle:active::before {
  background-color: @red;
}

.tools__toggle--mobile {
  display: block;
  width: 240px;
  margin: 34px auto 0 auto;
}

@media (min-width: @tablet-width) {
  .tools__list {
    margin: 7px 0 0 0;
    display: flex;
    flex-direction: column;
  }

  .tools__item {
    display: flex;
    flex-direction: row;
    margin: 0 0 25px 0;
    padding: 0 0 20px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddfe0;
  }

  .tools__btn {
    cursor: initial;
  }

  .tools__btn .tools__svg,
  .tools__btn:hover .tools__svg,
  .tools__btn:active .tools__svg {
    fill: @red;
  }

  .tools__cut svg {
    width: 22px;
    height: 22px;
  }

  .tools__fill svg {
    width: 24px;
    height: 22px;
  }

  .tools__contrast .tools__btn {
    padding: 3px 8px 3px 8px;
  }

  .tools__contrast svg {
    width: 16px;
    height: 16px;
  }

  .tools__toggle {
    display: block;
    width: 202px;
    margin-right: 20px;
  }

  .tools__toggle::before {
    top: -4px;
  }

  .tools__cut .tools__toggle::before {
    right: 44px;
  }

  .tools__fill .tools__toggle::before {
    left: 27px;
  }

  .tools__contrast .tools__toggle::before {
    left: 100px;
  }

  .tools__toggle--mobile {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .tools__list {
    margin: -5px 0 0 0;
  }

  .tools__item {
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
  }

  .tools__cut .tools__btn {
    padding: 0 2px 0 2px;
  }

  .tools__cut svg {
    width: 44px;
    height: 44px;
  }

  .tools__fill svg {
    width: 48px;
    height: 44px;
  }

  .tools__contrast svg {
    width: 32px;
    height: 32px;
  }

  .tools__toggle {
    display: block;
    width: 288px;
    margin-right: 27px;
  }

  .tools__toggle--mobile {
    display: none;
  }

  .tools__cut .tools__toggle::before {
    left: 74px;
  }

  .tools__fill .tools__toggle::before {
    left: 250px;
  }

  .tools__contrast .tools__toggle::before {
    left: 162px;
  }
}
